@tailwind base;
@tailwind components;
@tailwind utilities;

::-moz-selection {
  color: #2B2B2B;
  background: #E2E2E2;
}

::selection {
  color: #2B2B2B;
  background: #E2E2E2;
}

a:hover {
  color: #fff;
}

.umbrecil:hover {
  color: #b1dd9c;
}

.umbrecil::-moz-selection { 
  color: #9CCA87;
}

.umbrecil::selection { 
  color: #9CCA87; 
}

html,
body {
  padding: 0;
  margin: 0;
  min-height: 100vh;
  font-family: Calibri, sans-serif;
  background-color: #2B2B2B;
  color: white
}